	<!DOCTYPE html> 
	<html> 
	<title> Index </title> 
	<head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" 
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../css/app.css">
		
	</head> 

	<body> 
		<div class= "container-fluid"> 
			<div class = "fullbody row">
				<div class = "leftPane pane col-xs-3 col-sm-3 col-md-3">
					<div class = "header leftHeader">COMPONENTS </div>
					<div id = "navbar"></div>
					<!-- <nav class = "navMenu">
						<div>BUTTON</div>
						<div>TEXT BOX</div>
						<div>GRID</div>
						<div>TEXT AREA</div>
						<div>NAV BAR</div>
					</nav> -->

				</div>
				<div class = "rightPane pane col-xs-9 col-sm-9 col-md-9">
				    <div class = "header rightHeader">PLAY AREA </div>
				    <div class = "playarea"></div>
				</div>
			</div> 
		</div> 
		<script
  			src="https://code.jquery.com/jquery-3.1.1.min.js"
  			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>

		<script src = "https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
		
	</body> 
	</html>